.root {
  padding: 100px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 750px) {
    padding: 50px;
  }
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 64px;

  @media (max-width: 750px) {
    font-size: 32px;
  }
}
.description {
  font-size: 22px;

  @media (max-width: 750px) {
    font-size: 16px;
  }
}
